@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }



/* Layout index*/
*{
    font-family: 'DM Sans', sans-serif;
}

body{
    margin: 0 auto;
}
.photographers--redirect {
        height: 1.5em;
        width: 10em;
        border-radius: 0.3em;
        background-color: #DB8876;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0.5em;
        left: calc((100% - 10em) / 2);
        font-size: 1em;
        font-weight: bold;
        color: black;
        z-index: 500;
}
#banner_index{
    display: flex;
    margin-top: 2.625em;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.logo{
    height: 50px;
    width: auto;
}
.tags{
    display: flex;
    justify-content: space-between;
    padding: 0;
    flex-wrap: wrap;
    span{
        border: 0.5px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 11px;
        color: #901C1C;
        font-weight: 500;
        font-size: 0.75em;
        margin-right: 0.5em;
        padding: 0.4em;
        &:hover{
            color: white;
            background-color: #901C1C;
            cursor: pointer;
        }
    }
}
h1{
    color: #901C1C;
    width: auto;
}
#allFilesPhotographers{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 4em;
}
.file_photographer{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5em;
    a{
        text-decoration: none;
        text-align: center;
        
    }
    a>img{
        border-radius: 50%;
        width: 224px;
        height: 224px;
        object-fit: cover;
        box-shadow:  0px 4px 12px rgba(0, 0, 0, 0.25);
    }
    a>h2{
        color: #D3573C;
        font-size: 2.25em;
        font-weight: 400;
        margin-bottom: 0.1875em;
    }
    ul{
        display: flex;
        justify-content: space-between;
        margin: 0.1875em;
        padding: 0;
    }
        span{
            border: 0.5px solid #C4C4C4;
            box-sizing: border-box;
            border-radius: 11px;
            color: #901C1C;
            font-weight: 500;
            font-size: 0.75em;
            margin-right: 0.5em;
            padding: 0.4em;
            &:hover{
                color: white;
                background-color: #901C1C;
                cursor: pointer;
            }
        }
    p{
        font-size: 0.625em;
        margin: 0.1875em;
    }
    .localisation{
        color:#901C1C;
        font-size: 0.8125em;
        margin: 0.1875em;
    }
    .rate{
        color: #757575;
        font-size: 0.5625em;
    }
}

/* Layout files photographers*/
#sorting_media{
    background-color: #901C1C;
    color: white;
}
.logo_file{
    width: 15%;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 3%;
}
.header_photographer{
    background-color: #FAFAFA;
    margin: auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    justify-content: center;
    height: 250px;
    img{
        border-radius: 50%;
        position: absolute;
        right: 100px;
        width: 200px;
        height: 200px;
        object-fit: cover;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    }
    h1{
        font-size: 40px;
        color: #D3573C;
        font-weight: 400;
        margin-bottom: 1%;
        width: 40%;
    }
    >:nth-child(3){
        font-size: 16px;
        font-weight: 400;
        color: #525252;
    }
    ul{
        display: flex;
        justify-content: space-between;
        margin: 0.1875em;
        padding: 0;
        width: 10%;
    }
    .hashtag{
        list-style: none;
        border: 0.5px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 11px;
        color: #901C1C;
        font-weight: 500;
        font-size: 1em;
        margin-right: 0.5em;
        padding: 0.2em;
        &:hover{
            color: white;
            background-color: #901C1C;
            cursor: pointer;
        }
    }
}

.button_contact{
    width: 13%;
    background-color: #901C1C;
    color: white;
    border-radius: 5px;
    border-width: 1px;
    position: relative;
    bottom: 210px;
    left: 450px;
    padding: 1%;
    cursor: pointer;
    height: 45px;
    font-weight: bold;
}

.localisation{
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}
#medias_photographer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
}
.block_photo{
    width: 30%;
    height: 350px;
    cursor: pointer;
    margin-bottom: 3%;
}
.title_media, .titleMedia{
    font-weight: normal;
    color: #901C1C;
    font-size: 18px;
}
.titleMedia{
    margin-left: 12%;
}
.media_infos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    h2{
        width: 80%;
    }
    p, i{
        color: #901C1C;
    }
    p{
        width: 10%;
    }
}
#heart{
    cursor: pointer;
}
.visual_media{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 5px;
}
.gallery > label{
    margin-left: 4%;
    margin-right: 1.5%;
    font-weight: bold;
}
.gallery > select{
    border-radius: 5px;
    border: none;
}
.infosPhotographer{
    background-color: #DB8876;
    width: 17%;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-around;
    padding: 0.7%;
    position: fixed;
    bottom: 0;
    right: 1.5%;
    font-weight: 600;
}

//Layout Modal contact
form{
    background-color: #DB8876;
    color: black;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    width: 35%;
    border-radius: 5px;
    input, textarea{
        border-radius: 5px;
        border: none;
        width: 95%;
        height: 35px;
        margin-top: 1%;
    }
    textarea{
        height: auto;
    }
    label{
        font-size: 20px;
    }
    button{
        background-color: #901C1C;
        color: white;
        border-radius: 5px;
        border:none;
        cursor: pointer;
        width: 30%;
        height: 40px;
        &:active{
            box-shadow: inset  0 0px 5px 5px #D3573C;
        }
    }
}
#dialog{
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2.4rem;
    overflow-y: scroll;
}
.buttonClose{
    cursor: pointer;
    background-color:#DB8876;
    color: white;
    border: none;
    font-size: 20px;
    position: relative;
    left: 65%;
    top: 50px;
}

//Lightbox  
.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
    .nextMedia, .previousMedia{
        background: url(../images/vector.png) center center / 100% 100%;
        width: 30px;
        height: 49px;
        border: none;
        position: fixed;
        top: 50%;
        right: 60px;
        margin-top: -24px;
        z-index: 1001;
        cursor: pointer;
        opacity: 1;
        &:hover{
            opacity: 0.5;
        }
    }
    .previousMedia{
        right: auto;
        left: 60px;
        transform: rotate(180deg);
    }
    
    .closeLightbox{
        background: url(../images/close.png) center center / 100% 100%;
        width: 35px;
        height: 35px;
        border: none;
        position: fixed;
        top: 20px;
        right: 60px;
        z-index: 1002;
        cursor: pointer;
        opacity: 1;
        &:hover{
            opacity: 0.5;
        }
    }
    .mediaContainer{
        margin: 20px 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90%;
        margin-bottom: 1%;
        img, video{
            max-width: 100%;
            height: 100%;
            border-radius: 5px;
        }
    }
}
    
//Responsive mobile index
@media screen and (max-width: 426px) {
    body{
        margin: 3%;
        max-width: 100%;
    }
    #main{
        width: 100%;
    }
    .photographers--redirect{
        display: none;
    }
    .tags{
        width: 100%;
        padding: 0;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;
        height: 3.5em;
    }
    #banner_index{
        display: block;
        margin-top: 1.4em;
    }
    .logo{
        width: 40%;
        height: 10%;
    }
    h1{
        font-size: 14px;
        position: absolute;
        bottom: 0;
        right: 10px;
        font-weight: 400;
        width: auto;
        height: 100%;
        top: 18px;
    }
    #allFilesPhotographers{
        flex-direction: column;
        margin-top: 0;
        text-align: center;
    }
    .file_photographer{
        width: 100%;
    }
    //Responsive modale 
    #dialog{
        padding: 0.5em;
        .buttonClose{
            left: 90%;
        }
    }
    form{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        padding-left: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    //Responsive files photographers
    .infosPhotographer{
        display: none;
    }
    .logo_file{
        width: 50%;
        margin: auto;
        margin-top: 3%;
    }
    .header_photographer{
        background-color: white;
        padding: 0;
        width: 100%;
        height: auto;
        margin-bottom: 5%;
        h1{
            position: initial;
            font-size: 30px;
            width: 65%;
            margin-left: -0.1em;
        }
        p{
            font-size: 13px;
        }
        >:nth-child(3){
            font-size: 13px;
            margin-top: 2%;
            margin-bottom: 1%;
        }
        img{
            width: 90px;
            height: 90px;
            right: 20px;
            top: 88px;
        }
        ul{
            margin-left: 0;
        }
        li{
            font-size: 13px;
        }
        .hashtag{
            font-size: 0.7em;
        }
    }
    .button_contact{
        position: fixed;
        left: 35%;
        bottom: 5%;
        width: auto;
        height: auto;
    }
    .gallery > label{
        display: none;
    }
    .gallery > select{
        display: none;
    }
    #medias_photographer{
        flex-direction: column;
    }
    .block_photo{
        width: 100%;
        margin-bottom: 10%;
    }
    //Responsive lightbox mobile
    .lightbox{
        .closeLightbox{
            height: 15px;
            width: 15px;
            right: 20px;
        }
        .nextMedia, .previousMedia{
            height: 15px;
            width: 10px;
        }
        .nextMedia{
            right: 15px;
        }
        .previousMedia{
            left: 15px;
        }
        .mediaContainer{
            margin: 20px 40px;
            height: 87%;
            margin-bottom: 2%;
        }
        img{
            object-fit: cover;
        }
    }
}

//Responsive tablet version
@media screen and (min-width: 427px) and (max-width: 769px) {
    nav{
        width: 35%;
        .tags{
            width: 100%;
            justify-content: center;
            .hashtag{
                margin-bottom: 2%;
            }
        }
    }
    .file_photographer{
        width: 35%;
    }
    .header_photographer{
        img{
            width: 130px;
            height: 130px;
        }
        h1{
            font-size: 30px;
        }
        ul{
            margin-left: 0;
        }
        .hashtag{
            font-size: 0.7em;
        }
    }
    .button_contact{
        width: auto;
        height: auto;
        font-size: 12px;
        bottom: 200px;
        left: 320px;
    }
    .media_infos{
        h2, p, span{
            font-size: 14px;
        }
    }
    .lightbox .mediaContainer{
        height: 85%;
    }
}
//Responsive 4K version
@media screen and (min-width:2550px) {
    .button_contact{
        width: 7%;
        height: auto;
        bottom: 260px;
        left: 600px;
    }
    .media_infos{
        p{
            width: 0;
        }
        h2{
            width: 85%;
        }
    }
    .block_photo{
        height: 650px;
    }
}
