@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }



/* Layout index*/
*{
    font-family: 'DM Sans', sans-serif;
}

body{
    margin: 0 auto;
}
.photographers {
    display: flex;
    justify-content: center;
    margin-top: 5em;

    &--redirect {
        height: 1.5em;
        width: 10em;
        border-radius: 0.5em;
        background-color: #DB8876;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0.5em;
        left: calc((100% - 10em) / 2);
        font-size: 1em;
        font-weight: bold;
        color: black;
        z-index: 500;
    }
}
#banner_index{
    display: flex;
    margin-top: 2.625em;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.logo{
    height: 50px;
    width: auto;
}
.tags{
    display: flex;
    justify-content: space-between;
    padding: 0;
    flex-wrap: wrap;
    span{
        border: 0.5px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 11px;
        color: #901C1C;
        font-weight: 500;
        font-size: 0.75em;
        margin-right: 0.5em;
        padding: 0.4em;
        &:hover{
            color: white;
            background-color: #901C1C;
            cursor: pointer;
        }
    }
}
h1{
    color: #901C1C;
    width: auto;
}
#allFilesPhotographers{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 4em;
}
.file_photographer{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5em;
    a{
        text-decoration: none;
        text-align: center;
        
    }
    a>img{
        border-radius: 50%;
        width: 224px;
        height: 224px;
        object-fit: cover;
        box-shadow:  0px 4px 12px rgba(0, 0, 0, 0.25);
    }
    a>h2{
        color: #D3573C;
        font-size: 2.25em;
        font-weight: 400;
        margin-bottom: 0.1875em;
    }
    ul{
        display: flex;
        justify-content: space-between;
        margin: 0.1875em;
        padding: 0;
    }
        span{
            border: 0.5px solid #C4C4C4;
            box-sizing: border-box;
            border-radius: 11px;
            color: #901C1C;
            font-weight: 500;
            font-size: 0.75em;
            margin-right: 0.5em;
            padding: 0.4em;
            &:hover{
                color: white;
                background-color: #901C1C;
                cursor: pointer;
            }
        }
    p{
        font-size: 0.625em;
        margin: 0.1875em;
    }
    .localisation{
        color:#901C1C;
        font-size: 0.8125em;
        margin: 0.1875em;
    }
    .rate{
        color: #757575;
        font-size: 0.5625em;
    }
}

/* Layout files photographers*/
#sorting_media{
    background-color: #901C1C;
    color: white;
}
.logo_file{
    width: 15%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 3%;
}
.header_photographer{
    background-color: #FAFAFA;
    margin: auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    justify-content: center;
    height: 250px;
    img{
        border-radius: 50%;
        position: absolute;
        right: 100px;
        width: 224px;
        height: 224px;
        object-fit: cover;
    }
    h1{
        font-size: 55px;
        color: #D3573C;
        font-weight: 400;
        margin-bottom: 1%;
    }
    >:nth-child(3){
        font-size: 16px;
        font-weight: 400;
        color: #525252;
    }
    ul{
        display: flex;
        justify-content: space-between;
        margin: 0.1875em;
        padding: 0;
        width: 10%;
    }
    .hashtag{
        list-style: none;
        border: 0.5px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 11px;
        color: #901C1C;
        font-weight: 500;
        font-size: 1em;
        margin-right: 0.5em;
        padding: 0.2em;
        &:hover{
            color: white;
            background-color: #901C1C;
            cursor: pointer;
        }
    }
}

.button_contact{
    width: 13%;
    background-color: #901C1C;
    color: white;
    border-radius: 5px;
    border-width: 1px;
    position: relative;
    bottom: 180px;
    left: 410px;
    padding: 1%;
    height: 60px;
    cursor: pointer;
}

.localisation{
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}
#medias_photographer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.block_photo{
    width: 30%;
    height: 550px;
}
#heart{
    cursor: pointer;
}
.visual_media{
    width: 100%;
    height: 60%;
    object-fit: cover;
}

//Layout Modal contact
form{
    background-color: #DB8876;
    color: black;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    width: 35%;
    border-radius: 5px;
    input, textarea{
        border-radius: 5px;
        border: none;
        width: 95%;
        height: 35px;
        margin-top: 1%;
    }
    textarea{
        height: auto;
    }
    label{
        font-size: 20px;
    }
    button{
        background-color: #901C1C;
        color: white;
        border-radius: 5px;
        border:none;
        cursor: pointer;
        width: 30%;
        height: 40px;
        &:active{
            box-shadow: inset  0 0px 5px 5px #D3573C;
        }
    }
}
#dialog{
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2.4rem;
    overflow-y: scroll;
}
.buttonClose{
    cursor: pointer;
    background-color:#DB8876;
    color: white;
    border: none;
    font-size: 20px;
    position: relative;
    left: 65%;
    top: 50px;
}

//Lightbox  
.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
    .nextMedia, .previousMedia{
        background: url(../images/vector.png) center center / 100% 100%;
        width: 30px;
        height: 49px;
        border: none;
        position: fixed;
        top: 50%;
        right: 60px;
        margin-top: -24px;
        z-index: 1001;
        cursor: pointer;
        opacity: 1;
        &:hover{
            opacity: 0.5;
        }
    }
    .previousMedia{
        right: auto;
        left: 60px;
        transform: rotate(180deg);
    }
    
    .closeLightbox{
        background: url(../images/close.png) center center / 100% 100%;
        width: 35px;
        height: 35px;
        border: none;
        position: fixed;
        top: 20px;
        right: 60px;
        z-index: 1002;
        cursor: pointer;
        opacity: 1;
        &:hover{
            opacity: 0.5;
        }
    }
    .mediaContainer{
        margin: 20px 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 95%;
        img, video{
            max-width: 100%;
            height: 100%;
        }
    }
}
    // img{
    //     max-width: 90%;
    //     max-height: 80%;
    // }
//     video{
//         max-width: 90%;
//         max-height: 80%;
//     }
//     .arrowPrevious, .arrowNext{
//         background-color: white;
//     }
//     .arrowPrevious{
//         transform: rotate(180deg);
//     }
// }
  
// .lightbox.active{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//}

//Responsive mobile index
@media screen and (max-width: 426px) {
    body{
        margin: 3%;
        max-width: 100%;
    }
    .tags{
        width: 100%;
        padding: 0;
        flex-wrap: wrap;
    }
    #banner_index{
        display: block;
    }
    .logo{
        width: 40%;
        height: 10%;
    }
    h1{
        font-size: 14px;
        position: absolute;
        bottom: 365px;
        right: 10px;
        font-weight: 400;
        width: auto;
    }
    #allFilesPhotographers{
        flex-direction: column;
        margin-top: 0;
    }
    .file_photographer{
        width: 100%;
    }

    //Responsive files photographers
    .logo_file{
        width: 50%;
        margin: auto;
        margin-top: 3%;
    }
    .header_photographer{
        background-color: white;
        padding: 0;
        width: 100%;
        height: auto;
        h1{
            position: initial;
            font-size: 36px;
            width: 65%;
        }
        p{
            font-size: 13px;
        }
        >:nth-child(3){
            font-size: 13px;
            margin-top: 2%;
        }
        img{
            width: 30%;
            right: 20px;
            top: 90px;
        }
        li{
            font-size: 13px;
        }
        .button_contact{
            display: none;
        }

    }
}
