/* mise en page index*/
* {
  font-family: "DM Sans", sans-serif;
}

body {
  margin: 0 auto;
}

#banner_index {
  display: flex;
  margin-top: 2.625em;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.logo {
  height: 50px;
  width: auto;
}

.tags {
  display: flex;
  justify-content: space-between;
  padding: 0;
  flex-wrap: wrap;
}
.tags span {
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 11px;
  color: #901C1C;
  font-weight: 500;
  font-size: 0.75em;
  margin-right: 0.5em;
  padding: 0.4em;
}
.tags span:hover {
  color: white;
  background-color: #901C1C;
  cursor: pointer;
}

h1 {
  color: #901C1C;
  width: auto;
}

#allFichesPhotographers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 4em;
}

.fiche_photographe {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5em;
}
.fiche_photographe a {
  text-decoration: none;
  text-align: center;
}
.fiche_photographe a > img {
  border-radius: 50%;
  width: 224px;
  height: 224px;
  -o-object-fit: cover;
     object-fit: cover;
}
.fiche_photographe a > h2 {
  color: #D3573C;
  font-size: 2.25em;
  font-weight: 400;
  margin-bottom: 0.1875em;
}
.fiche_photographe ul {
  display: flex;
  justify-content: space-between;
  margin: 0.1875em;
  padding: 0;
}
.fiche_photographe span {
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 11px;
  color: #901C1C;
  font-weight: 500;
  font-size: 0.75em;
  margin-right: 0.5em;
  padding: 0.4em;
}
.fiche_photographe span:hover {
  color: white;
  background-color: #901C1C;
  cursor: pointer;
}
.fiche_photographe p {
  font-size: 0.625em;
  margin: 0.1875em;
}
.fiche_photographe .localisation {
  color: #901C1C;
  font-size: 0.8125em;
  margin: 0.1875em;
}
.fiche_photographe .tarif {
  color: #757575;
  font-size: 0.5625em;
}

/* mise en page fiches photographes*/
.logo_fiche {
  width: 15%;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 3%;
}

.header_photographe {
  background-color: #FAFAFA;
  margin: auto;
  width: 85%;
  display: flex;
  flex-direction: column;
  padding: 2%;
  justify-content: center;
  height: 250px;
}
.header_photographe img {
  width: 15%;
  border-radius: 50%;
  position: absolute;
  right: 100px;
}
.header_photographe h1 {
  font-size: 55px;
  color: #D3573C;
  font-weight: 400;
  margin-bottom: 1%;
}
.header_photographe > :nth-child(3) {
  font-size: 16px;
  font-weight: 400;
  color: #525252;
}
.header_photographe ul {
  display: flex;
  justify-content: space-between;
  margin: 0.1875em;
  padding: 0;
  width: 10%;
}
.header_photographe li {
  list-style: none;
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 11px;
  color: #901C1C;
  font-weight: 500;
  font-size: 1em;
  margin-right: 0.5em;
  padding: 0.2em;
}

.button_contact {
  width: 13%;
  background-color: #901C1C;
  color: white;
  border-radius: 5px;
  border-width: 1px;
  position: relative;
  bottom: 180px;
  left: 410px;
  padding: 1%;
  height: 60px;
}

.localisation {
  color: #901C1C;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 426px) {
  body {
    margin: 3%;
    max-width: 100%;
  }

  .tags {
    width: 100%;
    padding: 0;
    flex-wrap: wrap;
  }

  #banner_index {
    display: block;
  }

  .logo {
    width: 40%;
    height: 10%;
  }

  h1 {
    font-size: 14px;
    position: absolute;
    bottom: 365px;
    right: 10px;
    font-weight: 400;
    width: auto;
  }

  #allFichesPhotographers {
    flex-direction: column;
    margin-top: 0;
  }

  .fiche_photographe {
    width: 100%;
  }

  .logo_fiche {
    width: 50%;
    margin: auto;
    margin-top: 3%;
  }

  .header_photographe {
    background-color: white;
    padding: 0;
    width: 100%;
    height: auto;
  }
  .header_photographe h1 {
    position: initial;
    font-size: 36px;
    width: 65%;
  }
  .header_photographe p {
    font-size: 13px;
  }
  .header_photographe > :nth-child(3) {
    font-size: 13px;
    margin-top: 2%;
  }
  .header_photographe img {
    width: 30%;
    right: 20px;
    top: 90px;
  }
  .header_photographe li {
    font-size: 13px;
  }
  .header_photographe .button_contact {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */